* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(32, 32, 32);
}

.container {
    max-width: 1440px;
    background: #FFF;
    margin: 0 auto;
    padding-top: 100px;
    
}

.section1 {
    display: flex;
    background: #FAFAFA;
    padding-left: 108px;
    padding-right: 145px;
    gap: 140px;
    
}

.section1-img {
    padding-top: 21px;
    padding-bottom: 22px;
}

.section1-text {
    padding-top: 29px;
    padding-bottom: 30px;
}

.section1-text h2 {
    color: #1786F9;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 27px;
}

.section1-text p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.section2{
     margin-left: 115px; 
    padding-top: 490px;
    display: flex;
    flex-wrap: wrap;
    gap: 111px;
    padding-bottom: 600px;
}

.logo-img{
    border-radius: 18px;
background: #CEDFFF;

}


.card-text h3{
    margin-top: 12px;
    color: #1786F9;
font-size: 30px;
font-weight: 600;
}

.boxs{
    display: flex;
    gap: 96px;
    margin-bottom: 24px;
    margin-top: 45px;
}
.boxs1{
    display: flex;
    gap: 186px;
    padding-bottom: 46px;

}

.box{
    display: flex;
    gap: 13px;
    color: #000;
font-size: 18px;
font-weight: 600;
}

.box1{
    display: flex;
    gap: 13px;
    color: #000;
font-size: 18px;
font-weight: 600;
}

button{
    padding: 16px 28px;
    border-radius: 7px;
background: #F8D617;
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.25);
border: none;
margin-bottom: 19px;
margin-left: 19px;

}

button p{
    color: #171F4E;
font-size: 14px;
font-weight: 600;
}

.card-img img{
    border-radius: 30px;
}

.p{
    color: #000;
font-size: 18px;
font-weight: 600;
margin-top: 25px;
margin-bottom: 70px;
}